{% extends '@!CookieConsent/cookie_consent.html.twig' %}
{#{% extends "cookie_consent/consent_form_theme.twig" %}#}

{#{% use "./cookie_consent/consent_form_theme.twig" %}#}


{#{% block header %}#}
{#    {{ block('read_more') }}#}
{#    {{ block('intro') }}#}
{#    {% block title %}#}
{#        <h2>Your custom title</h2>#}
{#    {% endblock title %}#}
{#    {{ block('title') }}#}
{#{% endblock header %}#}

{# {% block required_cookies_category %} #}
{#    hide required_cookies_category for now #}
{# {% endblock required_cookies_category %} #}

{# {% block form %} #}
{#    hahha! #}
{# {% endblock form %} #}

{# {% block choice_row %} #}
{#    <div class="cookie-consent__category" style="background-color: pink"> #}
{#        {% block cookie_title_with_description %} #}
{#            <div class="cookie-consent__category-information"> #}
{#                {{- form_help(form) -}} #}
{#            </div> #}
{#        {% endblock cookie_title_with_description %} #}
{#        <div class="cookie-consent__category-toggle"> #}
{#            {% for child in form %} #}
{#                {% if not child.rendered %} #}
{#                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}} #}
{#                    {{- form_widget(child) -}} #}
{#                {% endif %} #}
{#            {% endfor %} #}
{#        </div> #}
{#    </div> #}
{# {% endblock %} #}

{# {% block submit_row %} #}
{#    <div class="cookie-consent__btn-wrapper"> #}
{#        {{ block('button_widget') }} #}
{#    </div> #}
{# {% endblock %} #}

{#{% block consent_form_rest %}#}
{#    <div class="button-group">#}
{#        {{ form_rest(form) }}#}
{#        {{ parent() }}#}
{#    </div>#}
{#{% endblock consent_form_rest %}#}

{% block post_form %}
    <h3>This is post-form elements</h3>
{% endblock post_form %}